<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="address" class="cn.zewade.course.spring.beans1.Address">
        <property name="city" value="杭州" />
        <property name="phoneNo" value="0571-88888888" />
    </bean>

    <bean id="school" class="cn.zewade.course.spring.beans1.School">
        <property name="name" value="浙江大学" />
        <property name="address" ref="address" />
    </bean>

</beans>